body {
    font-family: "Inter", sans-serif;
}

/* Hilangkan mata password bawaan browser */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.glow-subtle {
    text-shadow: 0 0 8px rgba(147, 197, 253, 0.3), /* Lapisan luar biru muda samar */ 
                0 0 3px rgba(255, 255, 255, 0.2); /* Lapisan dalam putih samar */
}
.text-glow-weak {
    text-shadow: 0 0 5px rgba(191, 219, 254, 0.25); /* Biru sangat muda, low opacity */
}
.box-glow-weak {
    box-shadow: 0 0 6px rgba(96, 165, 250, 0.4); /* Biru medium samar */
}